body {
    min-width: 300px;
}

button {
    width: 100px;
}

div {
    margin: 2px;
}

/*.activeProfile {*/
/*    background-color: lawngreen;*/
/*}*/

/*.inactiveProfile {*/
/*    background-color: gray;*/
/*}*/

#profileBtn {
    color: green;
}

#editProfiles {
    background-color: orange;
    outline: none;
}

#addProfile {
    color: white;
    background-color: green;
    outline: none;
}

#addCurrentSiteToProfile {
    color: black;
    background-color: yellow;
    outline: none;    
}

#saveProfiles {
    background-color: green;
}

.websiteInput {
    /*width: 1000px;*/
    color: blue;
}

#websiteInput {
    width: 500px;
}

#activateTmpBtn {
    background-color: coral;
}

.current-profile {
    margin: 5px;
}

.popupLabel {
    font-size: large;
}

.settingField {
    display: block;
    margin: 5px;
}